In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [13]:
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
import time
import pandas as pd

In [ ]:
driver = webdriver.Chrome(executable_path= r'./chromedriver_win32/chromedriver')
driver.get('https://www.mcdonalds.co.kr/kor/store/main.do')
time.sleep(2)

In [14]:
id = ["서울"]
for i in range(len(id)):
    driver.find_element_by_xpath('//*[@id="searchWord"]').send_keys(id[0])
    driver.find_element_by_xpath('//*[@id="searchWord"]').send_keys(Keys.ENTER)

In [42]:
name = []
add1 = []
add2 = []
time = []

while True:
    try:
        for ind in range(1,11):
            driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/div/span/a['+str(ind)+']').send_keys(Keys.ENTER)
            for i in range(1,6):
                n = driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/table/tbody/tr['+str(i)+']/td[1]/dl/dt/strong/a').text
                a1 = driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/table/tbody/tr['+str(i)+']/td[1]/dl/dd[1]').text
                a2 = driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/table/tbody/tr['+str(i)+']/td[1]/dl/dd[2]').text
                t = driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/table/tbody/tr['+str(i)+']/td[3]').text
#                 if i==1:
#                     print(n,a1,a2,t)
                name.append(n)
                add1.append(a1)
                add2.append(a2)
                time.append(t)
        driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/div/a[3]').send_keys(Keys.ENTER)
    except:
        break

강남 2호점 서울 강남구 역삼동 822-2 서울 강남구 테헤란로 107 메디타워2층 08:00~24:00
성균관대 서울 종로구 명륜2가 197-1 서울 종로구 창경궁로 241-1 08:00~24:00
연세대점 서울 서대문구 창천동 33-12 서울 서대문구 연세로 33 24시간
어린이대공원점 서울 광진구 화양동 212 서울 광진구 광나루로 392 09:00~02:00
이수점 서울 동작구 사당동 147-29 서울 동작구 사당로 300 (사당동)  07:00~22:00
선릉 서울 강남구 역삼동 707-27 서울 강남구 테헤란로 326 아이타워 1층 맥도날드 08:00~24:00
은평이마트 서울 은평구 응암동 90-1 서울 은평구 은평로 111 은평이마트 8층 맥도날드 10:00~22:00 2,4째주 일요일 휴무
양재 서울 서초구 양재동 24 서울 서초구 강남대로 213 07:00~24:00
가락DT점 서울 송파구 가락동 193-7 서울 송파구 동남로 196 07:00~24:00
연신내 서울 은평구 갈현동 456-28 서울 은평구 연서로 213 24시간
신내 서울 중랑구 신내동 666 서울 중랑구 봉화산로 194 신아타운1층 신내 맥도날드 24시간
중랑 서울 중랑구 상봉동 130-166 서울 중랑구 망우로 202 동성빌딩 08:00~24:00
안암 서울 성북구 안암동5가 102-33 서울 성북구 고려대로24길 42 방주빌딩 24시간
신월DT 서울 양천구 신월동 199-3 서울 양천구 남부순환로 404 24시간
염창 DT점 서울 강서구 염창동 280-11 서울 강서구 공항대로71길 3 (염창동)  07:00~24:00
상일동점 서울 강동구 상일동 502 서울 강동구 상일로6길 39 07:00~22:00
서울번동DT점 서울 강북구 번동 106 서울특별시 강북구 월계로 191 07:00~02:00
고척DT 서울 구로구 고척동 73-20 서울 구로구 경인로 393 07:00~02:00
강남삼성DT 서울 강남구 삼성동 113-7 서울 강남구 봉은사로 432 07:00~22:00
서울시청 서울 중구 을지로1가 32 서울 중구 남대문로9길 51 효덕빌딩 07:00~24:00

In [43]:
df = pd.DataFrame({'name':name,'add1':add1,'add2':add2,'time':time})
df.to_csv('seoul_mac.csv',index=False)
print('finish')
df

finish

       name               add1                             add2           time
0    강남 2호점   서울 강남구 역삼동 822-2           서울 강남구 테헤란로 107 메디타워2층    08:00~24:00
1       미아역   서울 강북구 미아동 197-5          서울 강북구 도봉로 204 미아역 맥도날드    07:00~02:00
2   마리오 아울렛   서울 금천구 가산동 60-22          서울 금천구 디지털로 185 마리오아울렛1    09:00~22:00
3     등촌 DT     서울 강서구 등촌동 630                   서울 강서구 양천로 546           24시간
4       잠실역    서울 송파구 신천동 7-25                  서울 송파구 송파대로 558  06:00 ~ 24:00
..      ...                ...                              ...            ...
91       동묘     서울 종로구 창신동 290                    서울 종로구 종로 339           24시간
92      망원점  서울 마포구 망원동 377-19             서울 마포구 월드컵로 81 (망원동)           24시간
93    위례신도시     서울 송파구 장지동 896  서울 송파구 위례광장로 290번지 위례중앙푸르지오 2단지           24시간
94  세이브존 노원     서울 노원구 하계동 284            서울 노원구 한글비석로 57 (하계동)    07:00~01:00
95     서울시청     서울 중구 을지로1가 32             서울 중구 남대문로9길 51 효덕빌딩    07:00~24:00

[96 rows x 4 columns]