In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [12]:
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
import time
import pandas as pd

In [13]:
# driver = webdriver.Chrome(executable_path= r'./chromedriver_win32/chromedriver')
driver.get('https://www.mcdonalds.co.kr/kor/store/main.do')
time.sleep(2)

In [14]:
id = ["서울","부산","대구","인천","광주","대전","울산","세종","경기","강원","충북","충남","전북","전남","경북","경남","제주"]

name = []
add1 = []
add2 = []
time1 = []

for i in range(len(id)):
    driver.get('https://www.mcdonalds.co.kr/kor/store/main.do')
    time.sleep(2)
#     driver.find_element_by_xpath('//*[@id="searchWord"]').clear()
    driver.find_element_by_xpath('//*[@id="searchWord"]').send_keys(id[i])
    driver.find_element_by_xpath('//*[@id="searchWord"]').send_keys(Keys.ENTER)
    print(id[i])
    while True:
        try:
            for ind in range(1,11):
                driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/div/span/a['+str(ind)+']').send_keys(Keys.ENTER)
                for i in range(1,6):
                    n = driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/table/tbody/tr['+str(i)+']/td[1]/dl/dt/strong/a').text
                    a1 = driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/table/tbody/tr['+str(i)+']/td[1]/dl/dd[1]').text
                    a2 = driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/table/tbody/tr['+str(i)+']/td[1]/dl/dd[2]').text
                    t = driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/table/tbody/tr['+str(i)+']/td[3]').text
    #                 if i==1:
    #                     print(n,a1,a2,t)
                    name.append(n)
                    add1.append(a1)
                    add2.append(a2)
                    time1.append(t)
            driver.find_element_by_xpath('//*[@id="container"]/div[1]/div[2]/div/div/div[2]/div/a[3]').send_keys(Keys.ENTER)
        except:
            break

서울
부산
대구
인천
광주
대전
울산
세종
경기
강원
충북
충남
전북
전남
경북
경남
제주

In [16]:
df = pd.DataFrame({'name':name,'add1':add1,'add2':add2,'time':time1})
df.to_csv('dataset/mac_Korea.csv',index=False)
print('finish')
df

finish

,name,add1,add2,time
0,강남 2호점,서울 강남구 역삼동 822-2,서울 강남구 테헤란로 107 메디타워2층,08:00~24:00
1,미아역,서울 강북구 미아동 197-5,서울 강북구 도봉로 204 미아역 맥도날드,07:00~02:00
2,마리오 아울렛,서울 금천구 가산동 60-22,서울 금천구 디지털로 185 마리오아울렛1,09:00~22:00
3,등촌 DT,서울 강서구 등촌동 630,서울 강서구 양천로 546,24시간
4,잠실역,서울 송파구 신천동 7-25,서울 송파구 송파대로 558,06:00 ~ 24:00
...,...,...,...,...
402,제주일도 DT,제주특별자치도 제주시 일도이동 369-11,제주특별자치도 제주시 동광로 134,24시간
403,제주공항DT점,제주특별자치도 제주시 용담이동 1787,제주특별자치도 제주시 도령로 159,08:00~24:00
404,제주월드컵스타디움DT,제주특별자치도 서귀포시 강정동 231-1,제주특별자치도 서귀포시 일주서로 7,07:00~24:00
405,제주중문DT,제주특별자치도 서귀포시 색달동 2558-1,제주특별자치도 서귀포시 중문관광로 38,08:00~23:00
406,제주도남DT,제주특별자치도 제주시 도남동 419,제주특별자치도 제주시 연북로 434,07:00~24:00